body {
    font-size: 2em;
    text-align: left;
    background: #f7f7f7;
}

textarea,
input.text,
input[type="text"],
input[type="button"],
input[type="submit"],
.input-checkbox {
-webkit-appearance: none;
border-radius: 0;
}

a {
    color: inherit;
    text-decoration: none
}

img {
    width: 100%;
    height: auto
}

@font-face {
    font-family: Arapey;
    font-weight: 400;
    font-style: italic;
    src: url(fonts/arapey-italic.woff2) format("woff2"),url(fonts/arapey-italic.woff) format("woff")
}

a,article,body,div,footer,form,h1,h2,h3,h4,h5,h6,header,html,img,input,label,li,nav,ol,p,section,select,span,table,tbody,td,textarea,tfoot,th,thead,tr,ul {
    margin: 0;
    padding: 0;
    border: 0;
    line-height: 100%;
    font: inherit;
    font-size: 100%;
    outline: 0
}

.nav-contact-btn,body,html {
    font-family: futura-pt,sans-serif
}

.aside-liste-white li,.aside-subtitle {
    font-weight: 500
}

ol,ul {
    list-style: none
}

/* **************************** SCREEN : INTRO **************************** */

@media all and (min-width: 400px) {
    #dream {
        text-align: left; 
        vertical-align: center;
        width: 100%;
        height: 100% ;
        position:relative;
        z-index: 0;
        background: #f7f7f7;
        margin: 0 auto;
    }
    body {
        overflow: auto;
    }
    #dreamingtext{
        position: absolute;
        top: 45%;
        left: 50%;
        -webkit-transform: translate3d(-50%,-50%,0);
        transform: translate3d(-50%,-50%,0);
    }
    canvas { 
        height: 100%;
    }
    .large-header {
        overflow: auto;
    }
}

@media all and (max-width: 399px) {
    #dream {
        text-align: left; 
        vertical-align: center;
        width: 100%;
        z-index: 0;
        background: #f7f7f7;
        margin: 0 auto;
    }
    #dreamingtext{
        margin: 60px auto 20px;
    }
}

#dreamingtext{
    width: 80%;
    z-index: 2;
}
#dreamingtitle{
    color:#111;
    text-transform:;
    font-size:3.2em;
    font-weight: 700;
    font-family: 'Montserrat', arial;
}
#dreamingsubtitle{
    font-family:'Quicksand', arial ;
    color:#999999;
    font-weight:200;
    font-size:1.0em;
    margin-top: 30px;
}
#wake {
    cursor:pointer;
    border: 0px;
    padding:10px 20px;
    clear:none;
    font-family:'Quicksand', arial ;
    font-weight:200;
    font-size:20px !important;
    z-index: 200;
    -webkit-transition: background-color 0.5s, color 0.5s; /* Safari */
    transition: background-color 0.5s, color 0.5s;
    display: block;
    background-color: #ffe28a;
    overflow: hidden;
    text-decoration: none;
    width: 200px;
    color:#ffe28a;
}
#wake:hover
{
 background-color: #E0C61B;
}

.large-header {
    position: relative;
    width: 100%;
    z-index: 0;
    opacity: 1;
}

#large-header {
    background: #f7f7f7;
}

#demo-canvas {
    z-index: 0;
    background: ;
    position: absolute;
    top: 0;
    left: 0;
}

/* **************************** GENERAL **************************** */

h2 {
    font-family: 'Raleway', Arial;
    font-weight: 900;
    font-size: 2.5em;
    color:#000;
}

h3 {
    font-family: 'Raleway', Arial;
    font-size: 2.0em;
    color:#000;
    font-weight: normal;
}


p {
    font-family: 'Quicksand', Arial;
    font-weight: normal;
    font-size: 1.0em;
    color:#000;
}

@media all and (max-width: 768px) {
    #dreamingtitle {
        font-size: 2.1em;
    }
    #dreamingsubtitle {
        font-size: 1.0em;
    }
    h2 {
        font-size: 1.6em;
    }
    h3 {
        font-size: 1.5em;
    }
   
}

canvas { 
    width: 100%;
}

#top-navbar-fixed {
    position: fixed;
    background: inherit;
    z-index: 5000;
    width: 100%;
    top: 0;
    left: 0
}

.top-navbar-fixed-menu {
    background: #333 !important;
}

#burger:hover {
    cursor: pointer
}

#burger {
    display: inline-block;
}

#logo {
    font-family: 'Share Tech Mono', monospace;
    font-size: 2.7em;
    text-shadow: 1px 0 0 rgba(50,50,50,.2), -2px 0 0 rgba(50,50,50,.2), 0 2px 0 rgba(50,50,50,.2), 0 -2px 0 rgba(50,50,50,.2), 1px 1px rgba(50,50,50,.2), -1px -1px 0 rgba(50,50,50,.2), 1px -1px 0 rgba(50,50,50,.2), -1px 1px 0 rgba(50,50,50,.2);
    font-weight: bold;
    color: #3BA99C;
}

#burger span {
    position: absolute;
    height: 3px;
    background: #3BA99C;
    -webkit-transition: background .3s linear,width 150ms linear,-webkit-transform 360ms ease,top 360ms ease,left 360ms ease,opacity .4s ease;
    transition: background .3s linear,width 150ms linear,transform 360ms ease,top 360ms ease,left 360ms ease,opacity .4s ease;
    box-shadow: 0 0 1px 1px rgba(50,50,50,.2)
}

#burger.burger-fx span:first-child {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg)
}

#burger.burger-fx span:nth-child(2) {
    opacity: 0;
    width: 0
}

#burger.burger-fx span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg)
}

@media all and (min-width: 1601px) {
    #burger, #logo {
        width:89px;
        height: 89px
    }

    #burger span {
        left: 28px;
        width: 33px
    }

    #burger span:first-child {
        top: 30px;
        width: 25px
    }

    #burger span:nth-child(2) {
        top: 43px
    }

    #burger span:last-child {
        top: 56px
    }

    #burger:hover span:first-child {
        width: 33px
    }

    #burger.burger-fx span:first-child,#burger.burger-fx span:nth-child(3) {
        top: 43px;
        left: 25px;
        width: 33px
    }
}

@media all and (min-width: 801px) and (max-width:1600px) {
    #burger, #logo  {
        width:71px;
        height: 71px
    }

    #burger span {
        left: 19px;
        width: 33px
    }

    #burger span:first-child {
        top: 21px;
        width: 25px
    }

    #burger span:nth-child(2) {
        top: 34px
    }

    #burger span:last-child {
        top: 47px
    }

    #burger:hover span:first-child {
        width: 33px
    }

    #burger.burger-fx span:first-child,#burger.burger-fx span:nth-child(3) {
        top: 34px;
        left: 17px;
        width: 33px
    }
}

@media all and (min-width: 400px) and (max-width:800px) {
    #burger, #logo  {
        width:65px;
        height: 65px
    }

    #burger span {
        left: 16px;
        width: 33px
    }

    #burger span:first-child {
        top: 18px;
        width: 25px
    }

    #burger span:nth-child(2) {
        top: 31px
    }

    #burger span:last-child {
        top: 44px
    }

    #burger.burger-fx span:first-child,#burger.burger-fx span:nth-child(3) {
        top: 31px;
        left: 14px;
        width: 33px
    }
}

@media all and (max-width: 399px) {
    #burger, #logo  {
        width:55px;
        height: 55px
    }

    #burger span {
        left: 15px;
        width: 31px
    }

    #burger span:first-child {
        top: 15px;
        width: 23px
    }

    #burger span:nth-child(2) {
        top: 26px
    }

    #burger span:last-child {
        top: 37px
    }

    #burger.burger-fx span:first-child,#burger.burger-fx span:nth-child(3) {
        top: 26px;
        left: 13px;
        width: 31px
    }
}

#nav,#nav-strip {
    position: fixed;
    background-color: #333;
    top: 0;
    left: 0
}

#nav-strip,.link-over:hover::after {
    width: 100%
}

#nav-strip {
    z-index: 3000;
    background: #000
}

.nav-title {
    font-weight: 400;
    font-size: 40px;
    padding-top: 5px
}

@media all and (min-width: 1601px) {
    #nav-strip {
        height:89px
    }

    .after-nav-strip {
        margin-top: 89px
    }

    #nav-strip svg {
        left: 50%;
        width: 60px;
        height: 53px;
        -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%)
    }

    #nav-strip a {
        margin-top: 10px
    }
}

@media all and (min-width: 801px) and (max-width:1600px) {
    #nav-strip {
        height:71px
    }

    .after-nav-strip {
        margin-top: 71px
    }

    #nav-strip svg {
        left: 50%;
        width: 49px;
        height: 43px;
        -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%)
    }

    #nav-strip a {
        margin-top: 6px
    }
}

@media all and (min-width: 400px) and (max-width:800px) {
    #nav-strip {
        height:65px
    }

    .after-nav-strip {
        margin-top: 65px
    }

    #nav-strip svg {
        left: 50%;
        width: 42px;
        height: 37px;
        -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%)
    }
}

@media all and (max-width: 800px) {
    #nav-strip div {
        display:none
    }

    #nav-strip a {
        margin-top: 7px
    }

    .nav-title {
        font-size: 32px
    }
}

@media all and (max-width: 399px) {
    #nav-strip {
        height:55px
    }

    .after-nav-strip {
        margin-top: 55px;
        padding: 20px 10px
    }

    #nav-strip svg {
        left: 100%;
        width: 36px;
        height: 32px;
        -webkit-transform: translate(-150%,-50%);
        -ms-transform: translate(-150%,-50%);
        transform: translate(-150%,-50%)
    }

    #nav-strip a {
        margin-top: 1px
    }
}

#nav-logo div,.strip h2 {
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%)
}

#nav-strip div {
    position: absolute;
    z-index: 7000;
    right: 40px;
    top: 4px;
    width: 290px
}

.nav-contact-btn {
    padding: 10px;
    border: 1px solid #fff;
    font-size: 12px;
    float: right;
    display: block;
    margin-top: 4px;
    margin-left: 20px
}

#nav-list-1 a:hover,#nav-list-2 a:hover,.nav-contact-btn:hover {
    color: #3BA99C;
}

#acc p,#nav-list-2 a,#nav-list-2 span,.rea-style {
    font-family: Arapey,serif;
    font-style: italic
}

#nav-list-2 ul,.nav-social span {
    display: inline-block
}

.nav-social .facebook,.nav-social .linkedin,.nav-social .twitter, .nav-social .instagram {
    margin-top: 18px;
    margin-right: 25px;
    float: left
}

.nav-social span {
    width: 20px;
    height: 20px;
    background-size: cover;
    background-position: center center;
    transition: opacity .3s ease-in;
    -moz-transition: opacity .3s ease-in;
    -webkit-transition: opacity .3s ease-in;
    -o-transition: opacity .3s ease-in
}

#nav,#rea {
    width: 100%
}

.nav-social .facebook {
    background-image: url(/public/media/images/common/nav/facebook.png)
}

.nav-social .facebook span {
    background-image: url(/public/media/images/common/nav/facebook-active.png);
    opacity: 0
}

.nav-social .facebook span:hover {
    opacity: 1
}

.nav-social .twitter {
    background-image: url(/public/media/images/common/nav/twitter.png)
}

.nav-social .twitter span {
    background-image: url(/public/media/images/common/nav/twitter-active.png);
    opacity: 0
}

.nav-social .twitter span:hover {
    opacity: 1
}

.nav-social .linkedin {
    background-image: url(/public/media/images/common/nav/linkedin.png)
}

#edc-right-0,#nav-btn,#nav-logo svg,.strip p {
    margin: auto
}

.nav-social .linkedin span {
    background-image: url(/public/media/images/common/nav/linkedin-active.png);
    opacity: 0
}

.nav-social .linkedin span:hover {
    opacity: 1
}

#nav {
    z-index: -1;
    height: 100%;
    opacity: 0
}

#nav-social-networks {
    position: absolute;
    z-index: 5000
}

#nav-list-2 li,#nav-social-networks div {
    float: left
}

#nav-social-networks a {
    margin: 2px
}



#nav-social-networks svg path {
    -webkit-transition: fill .4s ease;
    transition: fill .4s ease
}

#nav-content-wrap {
    display: table;
    margin: auto;
    height: 100%
}

#nav-content {
    position: relative;
    display: table-cell;
    vertical-align: middle;
    color: #fff
}

#nav-logo {
    position: relative;
    margin-bottom: 36px
}

#nav-logo div {
    position: absolute;
    top: 50%;
    overflow: hidden;
    transform: translateY(-50%)
}

#nav-logo a {
    padding: 15px;
    font-size: 1.1em;
    color: #999
}

#nav-list-1 li {
    padding-top: 6px
}

@media all and (min-width: 1601px) {
    #nav-list-1 a {
        font-size:3em
    }

    #nav-content-wrap {
        width: 322px
    }

    #nav-btn {
        width: 240px
    }
}

@media all and (max-width: 1600px) {
    #nav-list-1 a {
        font-size:2.5em
    }

    #nav-content-wrap {
        width: 242px
    }

    #nav-btn {
        width: 200px
    }
}

#nav-separation {
    margin-top: 50px
}

#nav-list-2 {
    margin-top: 20px
}

#nav-list-2 a,#nav-list-2 span {
    font-size: 1.2em
}

#nav-btn-wrap {
    margin-top: 22px
}

#nav-btn {
    display: block;
    padding: 12px 0;
    font-size: .95em;
    border-color: #3f372e
}
.slide {
    -webkit-transition: -webkit-transform 250ms ease;
    transition: transform 250ms ease
}

.slide-txt {
    -webkit-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%)
}

.slide-svg {
    -webkit-transform: translateY(120%);
    -ms-transform: translateY(120%);
    transform: translateY(120%)
}

.slide-separation {
    -webkit-transform: translateY(200%);
    -ms-transform: translateY(200%);
    transform: translateY(200%)
}

.slide-btn,.slide-social {
    -webkit-transform: translateY(120%);
    -ms-transform: translateY(120%);
    transform: translateY(120%);
}

.nav-sail-actif .sail {
    opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    -webkit-transition: -webkit-transform 360ms cubic-bezier(.55,.055,.675,.19);
    transition: transform 360ms cubic-bezier(.55,.055,.675,.19)
}

.nav-actif .slide {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0)
}

.nav-actif .slide-0,.nav-actif .slide-svg {
    -webkit-transition: -webkit-transform 250ms ease 370ms,color .4s ease;
    transition: transform 250ms ease 370ms,color .4s ease
}

.nav-actif .slide-separation {
    -webkit-transition: -webkit-transform 250ms ease 370ms;
    transition: transform 250ms ease 370ms
}

.nav-actif .slide-1 {
    -webkit-transition: -webkit-transform 250ms ease 420ms,color .4s ease;
    transition: transform 250ms ease 420ms,color .4s ease
}

.nav-actif .slide-2 {
    -webkit-transition: -webkit-transform 250ms ease 440ms,color .4s ease;
    transition: transform 250ms ease 440ms,color .4s ease
}

.nav-actif .slide-3 {
    -webkit-transition: -webkit-transform 250ms ease 460ms,color .4s ease;
    transition: transform 250ms ease 460ms,color .4s ease
}

.nav-actif .slide-4 {
    -webkit-transition: -webkit-transform 250ms ease 480ms,color .4s ease;
    transition: transform 250ms ease 480ms,color .4s ease
}

.nav-actif .slide-5 {
    -webkit-transition: -webkit-transform 250ms ease .5s,color .4s ease;
    transition: transform 250ms ease .5s,color .4s ease
}

.nav-actif .slide-btn {
    -webkit-transition: -webkit-transform 250ms ease 750ms;
    transition: transform 250ms ease 750ms
}

.nav-actif .slide-social-0 {
    -webkit-transition: -webkit-transform 250ms ease 1.15s;
    transition: transform 250ms ease 1.15s
}

.nav-actif .slide-social-1 {
    -webkit-transition: -webkit-transform 250ms ease 1.19s;
    transition: transform 250ms ease 1.19s
}

.nav-actif .slide-social-2 {
    -webkit-transition: -webkit-transform 250ms ease 1.23s;
    transition: transform 250ms ease 1.23s
}

.shift-left,.shift-right {
    transition: transform ease-out .5s
}

#nav.nav-z-index {
    z-index: 4000;
    opacity: 1
}

@media all and (min-width: 1601px) {
    #nav-social-networks {
        top:26px;
        right: 30px
    }

    #nav-social-networks svg {
        width: 20px;
        height: 20px
    }

    #nav {
        font-size: 16px
    }

    #nav-content svg {
        width: 50px;
        height: 50px
    }

    #nav-logo div:first-of-type {
        left: 26%
    }

    #nav-logo div:last-of-type {
        right: 26%
    }
}

@media all and (min-width: 400px) and (max-width:1600px) {
    #nav-social-networks {
        top:18px;
        right: 22px;
    }

    #nav-social-networks svg {
        width: 35px;
        height: 35px;
        margin-right:25px;
    }
}

@media all and (min-width: 801px) and (max-width:1600px) {
    #nav {
        font-size:12px
    }

    #nav-content svg {
        width: 40px;
        height: 40px
    }

    #nav-logo div:first-of-type {
        left: 24%
    }

    #nav-logo div:last-of-type {
        right: 24%
    }
}

@media all and (min-width: 400px) and (max-width:800px) {
    #nav {
        font-size:12px
    }

    #nav-content svg {
        width: 30px;
        height: 30px
    }

    #nav-logo div:first-of-type {
        left: 24%
    }

    #nav-logo div:last-of-type {
        right: 24%
    }
}

@media all and (max-width: 399px) {
    #nav-social-networks {
        top:10px;
        right: 14px
    }

    #nav-social-networks svg {
        width: 25px;
        height: 25px
    }

    #nav {
        font-size: 10px
    }

    #nav-content svg {
        width: 20px;
        height: 20px
    }

    #nav-logo div:first-of-type {
        left: 28%
    }

    #nav-logo div:last-of-type {
        right: 28%
    }
}

.sail-left,.sail-right::after {
    left: 0
}

.rea-infos,.sail-left::after,.sail-right {
    right: 0
}

.shift-left {
    transform: translate3d(0,0,0)!important;
    -moz-transform: translate3d(0,0,0)!important;
    -webkit-transform: translate3d(0,0,0)!important;
    -o-transform: translate3d(0,0,0)!important
}

.shift-right {
    transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0)
}

.sail {
    width: 50%;
    height: 100%;
    -webkit-transition: -webkit-transform 360ms cubic-bezier(.55,.055,.675,.19),opacity 0s linear 360ms;
    transition: transform 360ms cubic-bezier(.55,.055,.675,.19),opacity 0s linear 360ms;
    opacity: 0
}

.sail::after {
    position: absolute;
    top: -50%;
    height: 200%;
    background: #000;
    -webkit-transform: rotate(20deg);
    -ms-transform: rotate(20deg);
    transform: rotate(20deg)
}

.strip h2,.strip p {
    padding: 0 30px;
    top: 50%;
    position: relative;
    box-sizing: border-box
}

#edc-left-1,#edc-left-2,#edc-right-2 {
    background-position: center
}

@media all and (min-width: 580px) {
    .sail-left {
        -webkit-transform:translateX(-150%);
        -ms-transform: translateX(-150%);
        transform: translateX(-150%)
    }

    .sail-right {
        -webkit-transform: translateX(150%);
        -ms-transform: translateX(150%);
        transform: translateX(150%)
    }

    .sail::after {
        width: 150%
    }
}

@media all and (max-width: 579px) {
    .sail-left {
        -webkit-transform:translateX(-150%);
        -ms-transform: translateX(-150%);
        transform: translateX(-150%)
    }

    .sail-right {
        -webkit-transform: translateX(150%);
        -ms-transform: translateX(150%);
        transform: translateX(150%)
    }

    .sail::after {
        width: 240%
    }
}