/* App.css
/* ---------------------------------------------------------- /*

These are just some base styles to get you started. You delete
these and start over using your toolset of choice, or evolve
what's here to work the way you'd like it to.

# Table of Contents

- Vars
- Reset
- Defaults
- Layout
- Tag Archives
- Author Archives
- Pagination
- Footer

/* Variables
/* ---------------------------------------------------------- */
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700');
:root {

  /* Colours */
  --color-primary: #3eb0ef;
  --color-base: #15171A;
  --color-secondary: #5B7A81;
  --color-border: #c7d5d8;
  --color-bg: #f5f5f5;

  /* Fonts */
  --font-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  --font-serif: Georgia, Times, serif;
  --font-mono: Menlo, Courier, monospace;
  --font-light: 100;
  --font-normal: 400;
  --font-bold: 700;
  --font-heavy: 800;

  /* Sizes */
  --height: 4rem;
  --margin: 2rem;
  --radius: 0.6rem;

}


/* Reset
/* ---------------------------------------------------------- */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-spacing: 0;
  border-collapse: collapse;
}
img {
  max-width: 100%;
}
html {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;

  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
a {
  background-color: transparent;
}
a:active,
a:hover {
  outline: 0;
}
b,
strong {
  font-weight: bold;
}
i,
em,
dfn {
  font-style: italic;
}
h1 {
  margin: 0.67em 0;
  font-size: 2em;
}
small {
  font-size: 80%;
}
sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
mark {
  background-color: #fdffb6;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  margin: 0;
  color: inherit;
  font: inherit;
}
button {
  overflow: visible;
  border: none;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;

  -webkit-appearance: button;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}
input {
  line-height: normal;
}
input:focus {
  outline: none;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  box-sizing: content-box;

  -webkit-appearance: textfield;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
legend {
  padding: 0;
  border: 0;
}
textarea {
  overflow: auto;
}
table {
  border-spacing: 0;
  border-collapse: collapse;
}
td,
th {
  padding: 0;
}

/* Defaults
/* ---------------------------------------------------------- */

html {
  overflow-x: hidden;
  overflow-y: scroll;
  font-size: 62.5%;
  background: var(--color-base);

  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  overflow-x: hidden;
  color: #3c484e;
  font-size: 1.5rem;
  line-height: 1.6em;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0;
  text-rendering: optimizeLegibility;
  background: #fff;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga" on;
}

::selection {
  text-shadow: none;
  background: #cbeafb;
}

hr {
  position: relative;
  display: block;
  width: 100%;
  margin: 1.8em 0 2.4em;
  padding: 0;
  height: 1px;
  border: 0;
  border-top: 1px solid #e3e9ed;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

fieldset {
  margin: 0;
  padding: 0;
  border: 0;
}

textarea {
  resize: vertical;
}

p,
ul,
ol,
dl,
blockquote {
  margin: 0 0 1.5em 0;
}

ol,
ul {
  padding-left: 1.3em;
  padding-right: 1.5em;
}

ol ol,
ul ul,
ul ol,
ol ul {
  margin: 0.5em 0 1em;
}

ul {
  list-style: disc;
}

ol {
  list-style: decimal;
}

ul,
ol {
  max-width: 100%;
}

li {
  margin: 0.5em 0;
  padding-left: 0.3em;
  line-height: 1.6em;
}

dt {
  float: left;
  margin: 0 20px 0 0;
  width: 120px;
  font-weight: 500;
  text-align: right;
}

dd {
  margin: 0 0 5px 0;
  text-align: left;
}

blockquote {
  margin: 0.3em 0 1.8em;
  padding: 0 1.6em 0 1.6em;
  border-left: #cbeafb 0.5em solid;
}

blockquote p {
  margin: 0.8em 0;
  font-size: 1.2em;
  font-weight: 300;
}

blockquote small {
  display: inline-block;
  margin: 0.8em 0 0.8em 1.5em;
  font-size: 0.9em;
  opacity: 0.8;
}
/* Quotation marks */
blockquote small:before {
  content: "\2014 \00A0";
}

blockquote cite {
  font-weight: bold;
}
blockquote cite a {
  font-weight: normal;
}

a {
  color: #26a8ed;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  color: var(--color-base);
  line-height: 1.15;
  font-weight: 700;
  text-rendering: optimizeLegibility;
}

h1 {
  margin: 0 0 0.5em 0;
  font-size: 4rem;
  font-weight: 700;
}
@media (max-width: 500px) {
  h1 {
      font-size: 3rem;
  }
}

h2 {
  margin: 1.5em 0 0.5em 0;
  font-size: 3rem;
}
@media (max-width: 500px) {
  h2 {
      font-size: 2rem;
  }
}

h3 {
  margin: 1.5em 0 0.5em 0;
  font-size: 1.8rem;
  font-weight: 500;
}
@media (max-width: 500px) {
  h3 {
      font-size: 1.7rem;
  }
}

h4 {
  margin: 1.5em 0 0.5em 0;
  font-size: 1.6rem;
  font-weight: 500;
}

h5 {
  margin: 1.5em 0 0.5em 0;
  font-size: 1.4rem;
  font-weight: 500;
}

h6 {
  margin: 1.5em 0 0.5em 0;
  font-size: 1.4rem;
  font-weight: 500;
}

/* Layout
/* ---------------------------------------------------------- */

.viewport {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.container {
  max-width: 1120px;
  margin: 0 auto;
  padding: 0 4vw;
}

.content {
  margin: 0 auto;
  font-size: 2rem;
  line-height: 1.7em;
}

.content-body {
  display: flex;
  flex-direction: column;
  font-family: var(--font-serif);
}

.post-full-content {
  max-width: 720px;
  margin: 0 auto;
  background: #fff;
}

.post-feature-image img {
  margin: 0 0 3vw;
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.content-body h1,
.content-body h2,
.content-body h3,
.content-body h4,
.content-body h5,
.content-body h6 {
  font-family: var(--font-sans-serif);
}

.content-body h1 {
  margin: 1.0em 0 0.5em 0;
  font-size: 3.4rem;
  font-weight: 700;
}
@media (max-width: 500px) {
  .content-body h1 {
      font-size: 2.8rem;
  }
}

.content-title {
  margin: 0 0 0.8em;
  font-size: 5rem;
}
@media (max-width: 500px) {
  .content-title {
      margin: 0.8em 0;
      font-size: 3.4rem;
  }
  .content {
      font-size: 1.8rem;
  }
}

.content-body h2 {
  margin: 0.8em 0 0.4em 0;
  font-size: 3.2rem;
  font-weight: 700;
}
@media (max-width: 500px) {
  .content-body h2 {
      font-size: 2.6rem;
  }
}

.content-body h3 {
  margin: 0.5em 0 0.2em 0;
  font-size: 2.8rem;
  font-weight: 700;
}
@media (max-width: 500px) {
  .content-body h3 {
      font-size: 2.2rem;
  }
}

.content-body h4 {
  margin: 0.5em 0 0.2em 0;
  font-size: 2.4rem;
  font-weight: 700;
}
@media (max-width: 500px) {
  .content-body h4 {
      font-size: 2.2rem;
  }
}

.content-body h5 {
  display: block;
  margin: 0.5em 0;
  padding: 1em 0 1.5em;
  border: 0;
  font-family: Georgia,serif;
  color: var(--color-primary);
  font-style: italic;
  font-size: 3.2rem;
  line-height: 1.35em;
  text-align: center;
}

.content-body h6 {
  margin: 0.5em 0 0.2em 0;
  font-size: 2.0rem;
  font-weight: 700;
}

.content-body figure {
  margin: 0.4em 0 1.6em;
  font-size: 2.8rem;
  font-weight: 700;
}

.content-body pre {
  margin: 0.4em 0 1.8em;
  font-size: 1.6rem;
  line-height: 1.4em;
  white-space: pre-wrap;
  padding: 20px;
  background: var(--color-base);
  color: #fff;
  border-radius: 12px;
}

/* Header
/* ---------------------------------------------------------- */

.site-head {
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  background: var(--color-base);
}

.site-head.is-home {
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -2;
}

.site-head.is-home .container{
  height: 100%;
}

.site-nav-item {
  display: inline-block;
  padding: 5px 10px;
  color: #fff;
  position: relative;
  opacity: 0.7;
  text-decoration: none;
}

.site-nav-item:hover {
  text-decoration: none;
  opacity: 1;
}

.menu-listing .site-nav-item:before {
  position: absolute;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}

.menu-listing .site-nav-item:before {
  bottom: 0;
  display: block;
  height: 3px;
  width: 0%;
  content: "";
  margin-left: -5px;
  background-color: #ff724c;
}

.menu-listing .site-nav-item:hover:before,
.menu-listing .site-nav-item.current:before {
  opacity: 1;
  width: 90%;
}

.site-nav-icon {
  height: 22px;
  margin: -5px 0 0;
}

.site-logo {
  height: 25px;
}

.site-mast {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  padding: 1em 4em;
  z-index: 10;
}

.site-mast.scrolled {
  background-color: #222 !important;
  transition: background-color 200ms linear;
}

.menu-listing{
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
}

.site-mast-right {
  display: flex;
  align-items: center;
  margin: 0 0 0 20px;
}

.site-mast-left {
  z-index: 30;
}

.menu-hamburger {
  display: none;
  cursor: pointer;
  z-index: 20;
}

.bar1, .bar2, .bar3 {
  width: 30px;
  height: 2px;
  background-color: #fff;
  opacity: 0.7;
  margin: 6px 0;
  transition: 0.4s;
}

.open .bar1 {
  -webkit-transform: rotate(-45deg) translate(-6px, 6px) ;
  transform: rotate(-45deg) translate(-6px, 6px) ;
}

.open .bar2 {
  opacity: 0;
}

.open .bar3 {
  -webkit-transform: rotate(45deg) translate(-6px, -6px) ;
  transform: rotate(45deg) translate(-6px, -6px) ;
}

@media (max-width: 768px) {
  .site-mast {
    padding: 1em;
  }
  .menu-hamburger {
    display: inline-block;
  }
  .menu-listing {
    visibility: hidden;;
    padding: 4em 0;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 10;
    background-color: black;
    opacity: 0;
  }
  .menu-listing.open{
    visibility: visible;
    opacity: 1;
  }
  .menu-listing .site-nav-item {
    display: block;
    padding: 1em 0;
    opacity: 1;
    font-size: 2em;
    text-align: center;
  }
  .menu-listing .site-nav-item:before {
    margin-left: 0;
  }
  .menu-listing .site-nav-item:hover:before,
  .menu-listing .site-nav-item.current:before {
    width: 100%;
  }
}

.site-banner-wrapper {
  height: calc(100% - 34px);
  width: 100%;
  display: table;
}

.site-banner {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.site-banner-title {
  margin: 0;
  padding: 0;
  color: #ff724c;
  line-height: 1.3em;
}

.site-banner-desc {
  margin: 5px 0 0 0;
  padding: 0;
  line-height: 1.3em;
  color: white;
}

.site-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 15px 0 0 0;
}

.site-nav-left {
  margin: 0 20px 0 -10px;
}

.site-nav-right {
  margin: 0 -10px 0 20px;
}

.site-nav-button {
  display: inline-block;
  padding: 5px 10px;
  border: #fff 1px solid;
  color: #fff;
  font-size: 1.3rem;
  line-height: 1em;
  border-radius: var(--radius);
  opacity: 0.7;
}

.site-nav-button:hover {
  text-decoration: none;
}

/* Section
/* ---------------------------------------------------------- */
section h2{
  position: relative;
  display: inline-block;
  margin-top: 0;
}

section h2:after {
  display: block;
  height: 3px;
  width: 95%;
  content: "";
  margin: 5px auto;
  background-color: #ff724c;
}

.section {
  padding: 3em 0;
  text-align: center;
}

/* Section A Propos
/* ---------------------------------------------------------- */

.a-propos{
  padding: 3em 0 1em;
  background: #f5f5f5;
}

.a-propos-wrapper{
  display: flex;
  flex-direction: row;
}

.a-propos-wrapper .img-a-propos{
  width: 40%;
  padding: 0 10em;
}

.a-propos-wrapper article{
  width: 60%;
  padding: 5em 10em 5em 4em;
}

@media (max-width: 1300px) {
  .a-propos-wrapper .img-a-propos{
    padding: 0 5em;
  }
}

@media (max-width: 1024px) {
  .a-propos {
    padding: 1em 0;
  }
  .a-propos-wrapper .img-a-propos{
    padding: 2em 2em 0;
  }
  .a-propos-wrapper article{
    padding: 5em 4em 5em;
  }
}

@media (max-width: 768px) {
  .a-propos-wrapper{
    flex-direction: column;
  }

  .a-propos-wrapper .img-a-propos{
    padding: 1em 3em;
    height: 300px;
  }
  .a-propos-wrapper .img-a-propos .gatsby-image-wrapper{
    height: 300px;
  }

  .a-propos-wrapper .img-a-propos .gatsby-image-wrapper img{
    object-fit: contain !important;
  }

  .a-propos-wrapper .img-a-propos,
  .a-propos-wrapper article{
    width: 100%;
    text-align: center;
  }
  .a-propos-wrapper article{
    padding: 3em 1em 0;
  }
  .separator {
    margin-top: -7px;
  }
}

.diagonal-gray {
  left: 0;
  bottom: 0;
  pointer-events: none;
  background: #fff;
  float: left;
  z-index: 100;
}

.diagonal-gray path{
  fill: #f5f5f5;
}

/* Section Services
/* ---------------------------------------------------------- */

@media (max-width: 768px) {
  #services h2{
      margin-top: 1.5em;
  }
}

.service {
  text-align: center;
}

@media (max-width: 768px) {
  .service {
      width: 100%;
  }
}

.service h3{
  text-decoration: underline;
}

.service ul {
    list-style-type: none;
}

.service-img-wrapper{
  max-width: 75px;
  margin: auto;
}

/* Section Technologies
/* ---------------------------------------------------------- */

.technologies {
  padding: 0;
  background: #f5f5f5;
}

.technologies h2{
  margin-top: 2em;
}

.orb {
  width: 100px;
  height: 100px;
  display: inline-block;
  margin: 0 24.7px;
  float: left;
  transition: all .2s ease-out;
}

.orb.php {
  padding: 1.5em 0;
}

.orb:hover {
  transform: scale(1.2);
  opacity: .5;
  cursor: pointer;
}

.marquee {
  height: 185px;
  overflow: hidden;
  box-sizing: border-box;
  position: relative;
}

.marquee--inner {
  display: block;
  width: 2700px;
  margin: 20px 0;
  position: absolute;
  animation: marquee 20s linear infinite;
}

.marquee--inner:hover {
  animation-play-state: paused;
}

.marquee span {
  float: left;
  width: 50%;
}

@keyframes marquee {
  0% { left: 0; }
  100% { left: -100%; }
}


@media (max-width: 768px) {
  .technologies h2{
    padding: 0 1em;
  }
  .orb {
    width: 70px;
    height: 70px;
    margin: 0 15px;
  }
  .marquee {
    height: 170px;
  }
  .marquee--inner {
    margin: 40px 0;
    width: 1800px;
    animation: marquee 14s linear infinite;
  }
}

/* Section Projets
/* ---------------------------------------------------------- */

.portfolio {
  padding-bottom: 1em;
}

.post-feed {
  display: grid;
  justify-content: space-between;
  grid-gap: 30px;
  grid-template-columns: 1fr 1fr 1fr;
}

.post-card {
  color: inherit;
  text-decoration: none;
}

.post-card:hover {
  text-decoration: none;
}

.post-card-tags {
  margin: 0 0 5px 0;
  font-size: 1.4rem;
  line-height: 1.15em;
  color: var(--color-secondary);
}


.post-card-title {
  margin: 20px 1em 10px;
  padding: 0;
  font-size: 2rem;
}

.post-card-excerpt {
  font-size: 1.6rem;
  line-height: 1.55em;
  margin: 0 1em;
}

.post-card-image {
  margin: 0 0 10px 0;
  width: auto;
  height: 200px;
  background-size: cover;
}

.post-card-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0 0 0;
  color: var(--color-secondary);
}

.post-card-footer-left {
  display: flex;
  align-items: center;
}

.post-card-footer-right {
  display: flex;
  flex-direction: column;
}

.post-card-avatar {
  width: 30px;
  height: 30px;
  margin: 0 7px 0 0;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.post-card-avatar .author-profile-image {
  display: block;
  width: 100%;
  background: var(--color-secondary);
  border-radius: 100%;
  object-fit: cover;
}

.post-card-avatar .default-avatar {
  width: 26px;
}

@media (max-width: 980px) {
  .post-feed {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 767px) {
  .portfolio {
    padding-bottom: 1em;
  }
  .post-card-image {
    height: 235px;
  }
  .post-card-image .gatsby-image-wrapper {
    height: 100%;
  }
  .post-card-image .gatsby-image-wrapper img{
    object-fit: contain!important;
  }
  .post-card-title {
    margin: 10px 1em;
  }
}
@media (max-width: 680px) {
  .post-feed {
    grid-template-columns: 1fr;
  }
}

/* Section contact
/* ---------------------------------------------------------- */

.contact {
  padding: 0;
  background: #f5f5f5;
}

.contact h2{
  margin-top: 2em;
}
.contact h3{
  margin-top: 0;
  font-size: 2.5rem;
}
.contact p {
  max-width: 700px;
  margin: auto;
}

.contact-form {
  max-width: 500px;
  margin: auto;
  padding-bottom: 3em;
}

input, select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */  
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #ff724c;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #ee623b;
}

/* Tag Archives
/* ---------------------------------------------------------- */

.tag-header {
  max-width: 690px;
  margin: 0 0 4vw;
}

.tag-header h1 {
  margin: 0 0 1rem 0;
}

.tag-header p {
  margin: 0;
  color: var(--color-secondary);
  font-size: 2.2rem;
  line-height: 1.3em;
}

@media (max-width: 500px) {
  .tag-header {
      border-bottom: var(--color-bg) 1px solid;
      padding-bottom: 4vw;
  }
  .tag-header p {
      font-size: 1.7rem;
  }
}

/* Footer
/* ---------------------------------------------------------- */

.site-foot {
  padding: 20px 0;
  color: rgba(255,255,255,0.7);
  font-size: 1.3rem;
  background: var(--color-base);
}

.site-foot-nav {
  text-align: center;
}

.site-foot-nav a {
  color: rgba(255,255,255,0.7);
}

.site-foot-nav a:hover {
  text-decoration: none;
  color: rgba(255,255,255,1);
}