html,body, {
  height: 100%;
  margin: 0;
}
body {
  background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  /*font-family: 'Dosis', sans-serif;*/
  color:white;
  min-height: 100%;
}
.footernav {
  width: 100%;
  position: fixed;
  bottom: 0;
  overflow:hidden;

}
.footerContentLeft{
  display: inline-block;
  float:left;
  margin-left:20px;
}
.footerContentRight{
  display: inline-block;
  float:right;
  margin-right:20px;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  list-style: none;
  text-decoration: none;
  white-space: collapse;
}

.main {
  width: 100%;
}

.main_container{
  position: absolute;
  top:80px;
  bottom:70px;
  width:100%;
}

.main_content {
  width: 400px;
  margin: auto;
  display: block;
  transition: .5s cubic-bezier(.75,.02,.33,1);
}

.conversation_container{
  position: absolute;
  width: 400px;
  top: 0px;
  bottom: 50px;
}

.input_container{
  position: absolute;
  width: 400px;
  height: 50px;
  bottom: 0px;
}

#bot_input{
  padding: 0.85em 1.5em;
  width: 100%;
  border-radius: 2em;
  background: #fff;
  color: #535d92;
  border:none;
  width:100%;
  height:50px;
}

.header{
  position: absolute;
  top:0px;
  width:100%;
  height:80px;
}

.logo{
  position:absolute;
  top:25px;
  left:2.5rem;
  height:50px;
}

.logo_title{
  font-family: 'Permanent Marker', cursive;
  position: absolute;
  top:0px;
  left:65px;
  display:inline-block;
}

.btn {
  position:absolute;
  top:30px;
  right:2.4rem;
  transition: .5s cubic-bezier(.75,.02,.33,1);
}

#burger {
  width: 40px;
}

.menu {
  position: absolute;
  width: 0px;
  right:0px;
  display: block;
  transition: .5s cubic-bezier(.75,.02,.33,1);
  background-image: linear-gradient(to top, #a7a6cb 0%, #8989ba 52%, #8989ba 100%);
  height: 100%;
}

.menu>ul{
  padding-top: 180px;
}

.menu>ul>li{
  display: none;
  transform: translateY(-40px);
  opacity: 0;
  text-align: center;
  position: relative;
  margin-bottom: 30px;
  transition: .5s ease;
}

.menu>ul>li>a{
  font-size: 25px;
  font-weight: bold;
  text-transform: uppercase;
}

.click {
  width: 40px;
  height: 40px;
  position: absolute;
  top: -20px;
  z-index: 99;
  cursor: pointer;
  display: block;
}

#burger {
  z-index: 1;
  cursor: pointer;
  position: relative;
  margin-bottom: 100px;
  margin-top: 15px;
  display: block;
}

#burger>span{
  position: relative;
  display: block;
  width: 40px;
  height: 5.5px;
  background: url('http://img4.hostingpics.net/pics/293168burger1.png');
  background-size: cover;
  transition: all .4s ;
}

#burger>span::before {
  position: absolute;
  background: url('http://img4.hostingpics.net/pics/293168burger1.png');
  background-size: cover;
  content: '';
  width: 40px;
  height: 5.5px;
  transition: all .2s ease;
  top: -15px;
}

#burger>span::after {
  position: absolute;
  background: url('http://img4.hostingpics.net/pics/293168burger1.png');
  background-size: cover;
  content: '';
  width: 40px;
  height: 5.5px;
  transition: all .2s ease;
  top: 15px;
}

#burger.active>span {
  background: transparent;
  transform: rotate(90deg);
}

#burger.active>span::before {
  transform: rotate(45deg);
  top: 0px;
}

#burger.active>span::after {
  transform: rotate(-45deg);
  top: 0px;
}

.menu_open>.menu{
  width: 400px;
}
