.chat-window button:focus {
	-webkit-tap-highlight-color: rgba(255,255,255,0);
	-webkit-tap-highlight-color: transparent;
	outline: none;
}


.chat-window {
	width: 100%;
	height:100%;
	margin: 0 auto;
	overflow: hidden;
	color: #000;
	font-family: 'Avenir Next', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.chat-window a {
	color: #eab1c6;
}

.chat-window a:hover,
.chat-window a:focus {
	color: #C7668A;
}

.chat-messages {
	height: calc(100% - 54px);;
	overflow-x: hidden;
	overflow-y: auto;
	width: 100%;
	position: relative;
	border-radius: 2px 2px 0 0;
	background: #fff;
}



.chat-messages-list {
	list-style-type: none;
	padding: 0;
	margin: 0;
	width: 100%;
	padding: 15px 25px 60px;
}

.chat-message {
	position: relative;
	font-size: 0;
	margin-bottom: 10px;
}

.chat-message-effect {
	position: absolute;
}

.chat-message-bubble {
	display: inline-block;
	font-size: 14px;
	max-width: 350px;
	background: #DC143C;
	color:white;
	padding: 8px 14px;
	border-radius: 18px;
	min-width: 0;
}

.chat-message-self.chat-message-merge-start .chat-message-bubble {
	border-bottom-right-radius: 0;
}

.chat-message-self.chat-message-merge-middle .chat-message-bubble {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.chat-message-self.chat-message-merge-end .chat-message-bubble {
	border-top-right-radius: 0;
}

.chat-message-self {
	text-align: right;
}

.chat-message-self .chat-message-bubble,
.chat-message-effect .chat-message-bubble {
	background: #000;
	color: #fff;
	text-align: left;
}

.chat-input-bar {
	position: relative;
	background:#DC143C;
}

.chat-input-wrapper {
	position: relative;
	z-index: 2;
	/*background: #32A8E6;*/
	padding: 0.5em 0;
	border-radius: 0 0 2px 2px;
	color: #fff;
}

.chat-input-wrapper,
.chat-send {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-justify-content: center;
	justify-content: center;
	font-size: 16px;
}

.chat-input-tool {
	background: transparent;
	border: none;
	padding: 0 0.75em;
	color: inherit;
}

.chat-input {
	outline: none;
	resize: none;
	overflow: hidden;
	min-height: 38px;
	-webkit-flex: 1;
	flex: 1;
	margin-left: 10px;
	font-size: 14px;
	padding: 10px 0 7px;
	cursor: text;
}



.chat-input:empty::before {
	content: "Write something...";
	color: #white;
}

.chat-input:focus::before {
	content: "";
}

.chat-send {
	background: transparent;
	border: none;
	position: relative;
	overflow: hidden;
	padding: 0 0.75em;
	color: inherit;
	-webkit-transition: color 0.6s;
	transition: color 0.6s;
}

.chat-input:empty + .chat-send {
	color: #white;
}

.chat-send>i {
	position: relative;
}

.chat-effect-container {
	position: absolute;
	top: -100px;
	width: 100%;
}

.chat-effect-bar {
	background: #DC143C;
	position: absolute;
	top: 100px;
	width: 100%;
	height: 40px;
	-webkit-transform: rotateY(0);
	transform: rotateY(0);
}

.chat-effect-dots {
	position: absolute;
}

.chat-effect-dot {
	background: #DC143C;
	position: absolute;
	width: 15px;
	height: 15px;
	border-radius: 100%;
}

.chat-info-container {
	position: absolute;
	top: -20px;
	font-size: 12px;
	color: #DC143C;
}

.chat-info-typing {
	position: absolute;
	left: 80px;
	white-space: nowrap;
}

@media only screen and (min-width: 600px) {
    /* For tablets: */
		.chat-window {
			width: 310px;
			height:auto;
			border: 0px solid #36383a;
			border-width: 50px 15px;
			border-radius: 20px;
		}
		.chat-messages {
			height: 460px;
		}
}
